# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project_workspace\key_word_driver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
